/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/wgsnano -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    // RIS (LSF) cluster config
    user_group                 = 'compute-dspencer'
    job_group_name             = '/dspencer/nextflow'
    gpu_resources              = 'num=2:gmodel=TeslaV100_SXM2_32GB:gmem=16G'
    queue_cpu                  = 'oncology'
    queue_gpu                  = 'general'

    vep_cache                  =  '/storage2/fs1/dspencer/Active/spencerlab/refdata/hg38/VEP113_cache'
    
    custom_annotations = '/storage1/fs1/timley/Active/aml_ppg/tmp/abelhj/spencerlab/cle-chromoseq/assets/data/blood_cancer_files/chromoseq_custom_annotations.vcf.gz'
    chromoseq_genes = '/storage1/fs1/timley/Active/aml_ppg/tmp/abelhj/spencerlab/cle-chromoseq/assets/data/blood_cancer_files/chromoseq_genes.bed.gz'
    chromoseq_hotspots = '/storage1/fs1/timley/Active/aml_ppg/tmp/abelhj/spencerlab/cle-chromoseq/assets/data/blood_cancer_files/chromoseq_hotspot.vcf.gz'
    chromoseq_sv_genes = '/storage1/fs1/timley/Active/aml_ppg/tmp/abelhj/spencerlab/cle-chromoseq/assets/data/blood_cancer_files/chromoseq_sv_genes.bed.gz'
    bnd_ins = '/storage1/fs1/timley/Active/aml_ppg/tmp/abelhj/spencerlab/cle-chromoseq/assets/data/BND_INS_Filter.bed.gz'
    cytobands = '/storage1/fs1/timley/Active/aml_ppg/tmp/abelhj/spencerlab/cle-chromoseq/assets/data/hg38.cytoBandIdeo.bed.gz'
  
    severus_pon = '/storage2/fs1/dspencer/Active/spencerlab/abelhj/pacbio/Severus/pon/PoN_1000G_hg38.tsv.gz'
    trf = '/storage2/fs1/dspencer/Active/spencerlab/abelhj/pacbio/Severus/vntrs/human_GRCh38_no_alt_analysis_set.trf.bed.gz'

}
